* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: rgb(201, 201, 201);
  color: rgb(51, 51, 51);

}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#root {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.header-welcome {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
}

.servicios-barrido-js {
  position: relative;
  background-image: url(/images/back2.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}



.servicios-barrido-js::before {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.5);
  /* desvanecido */
  z-index: 0;
}

.servicios-barrido-js>* {
  position: relative;
  z-index: 1;
}


.servicios-barrido-js h1 {
  font-size: 2.5rem;
  color: black;
  text-align: center;
  margin-bottom: 1rem;
  font-family: 'Playfair Display', serif;
  font-weight: 600;
}

.img-container {
  width: 16vw;
  aspect-ratio: 1 / 1
  height: 30%;
  border-radius: 50%;
  border: 8px solid rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
}


.img-container img {
  width: 100%;
  object-fit: cover;
  height: auto;
  border-radius: 50%;

}

.Animate-text {
  font-size: 2.5rem;
  opacity: 0;
  display: inline-block;
  transform: translateY(20px);
  animation: fadeInUp 0.5s forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animated-text-js span {
  animation: fadeInUp 0.5s forwards;
}

@media (max-width: 768px) {
  .img-container {
    width: 40%; /* Ajusta el tamaño */
    max-width: 150px; /* Limita el tamaño */
  }

  .servicios-barrido-js h1 {
    font-size: 2rem; /* Reduce el tamaño del texto */
  }
}


/*jhonier css*/

.navbar {
  padding: 0.3rem;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  height: 6em;
  align-items: center;
  width: 100%;
  background-color: #f9f1f0;
  justify-content: space-between;
}


.navbar.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

nav {
  margin: auto;
}

.divLeft__forms {
  border-width: 0px;
  display: none;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}

.divLeft__forms div {
  background-color: rgb(252, 154, 142);
  width: 20px;
  height: 3px;
  border-radius: 20px;
  margin-bottom: 2px;
  transition: all 0.5s;
  transform-origin: left;
}

.divLeft__forms:hover div:first-child {
  transform: rotate(31deg);
}

.divLeft__forms:hover div:nth-child(2) {
  opacity: 0;
}

.divLeft__forms:hover div:last-child {
  transform: rotate(-31deg);
}

.divLeft__forms:hover {
  opacity: 1;
}

.header__divLeft {
  margin: 10px;
}

.navMenu {
  display: flex;
}

.navMenu li {
  position: relative;
  margin: 10px;
}

.navMenu a {
  color: #fc9a8e;
  text-shadow: 0px 0px 2px rgb(252, 154, 142, 0.5);
  letter-spacing: 2px;
}

.menuSubmenu {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s;
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  width: 250px;
}

.menuSubmenu li {
  padding: 15px;
  margin: 0;
  transition: background-color 0.3s ease-in-out;
}

.menuSubmenu li:hover {
  background: #f9f1f0;
}

.menuSubmenu a {
  transition: color 0.3s ease-in-out;
}

.menuSubmenu a:hover {
  color: #fdc6bf;
}

.menuSubmenu a {
  color: #000;
}

.menuSubmenu__sub {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s;
  position: absolute;
  top: 0%;
  left: 100%;
  background: #fff;
  width: 200px;
}

.menuSubmenu__sub li {
  padding: 15px;
  margin: 0;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.menuSubmenu__sub li:hover {
  color: #fff;
  background-color: #f9f1f0;
}

.menuSubmenu__sub a {
  color: #000;
}

.navMenu li:hover .menuSubmenu {
  text-decoration: none;
  opacity: 1;
  visibility: visible;
}

.menuSubmenu li:hover .menuSubmenu__sub {
  text-decoration: none;
  opacity: 1;
  visibility: visible;
}

.header__divButton {
  text-decoration: none;
  opacity: 0.5;
  border: none;
  padding: 14px 18px;
  margin: 10px;
  box-shadow: 0px 0px 10px rgb(252, 154, 142);
  border-radius: 20px;
  letter-spacing: 2px;
  background-color: #fc9a8e;
  transition: opacity 0.3s ease-in-out;
}

.header__divButton:hover {
  opacity: 1;
  cursor: pointer;
}

.header__divButton:active {
  animation: distantButton 0.3s ease-out;
}

@keyframes distantButton {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 768px) {
  .divLeft__forms {
    display: flex;
    flex-direction: column;
    opacity: 0.5;
    justify-content: center;
    align-items: center;
  }
  .navbar .header__divLeft img {
    display: none;
  }
}

*/css jhonier*/


.section-1-psicoterapia-online {
    width: 100%;
    height: 110vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;


}

.section__container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}


.section__container__left {
    width: 40%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: #000 1px solid;
}

.section__container__right {
    width: 40%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: #000 1px solid;
}

.section__services {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
}
